@page "/"
@rendermode InteractiveServer
@inject HttpClient httpClient

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="Register">登録</button>
<button @onclick="Login">ログイン</button>
@code {
    private async Task Register() {
        var url = "http://localhost:5094/register";
        var response = await httpClient.PostAsJsonAsync(url, new { email="test@example.com", password="Test123!" });
    }

    private async Task Login() {
        var url = "http://localhost:5094/login?useCookies=true";
        var response = await httpClient.PostAsJsonAsync(url, new { email="test@example.com", password="Test123!" });
    }
}